<div>
  <table>
    <thead>
      <tr>
        <th class="suggestionColumn titleRow">Suggestion</th>
        <th class="likesColumn titleRow">Likes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sugg of suggestions">
        <th [className]="sugg.liked ? 'likedRow suggestionColumn' : 'defaultRow suggestionColumn'">{{ sugg.suggestion }}</th>
        <th class="likesColumn">
          <button (click)="likeSuggestion(sugg)" [className]="sugg.liked ? 'likedRow' : 'defaultRow'">{{ sugg.likes }}
            <img *ngIf="sugg.liked" src="./assets/like.svg">
          </button>
        </th>
      </tr>
    </tbody>
  </table>

  <form (ngSubmit)="addSuggestion()">
    <input type="text" placeholder="Add new suggestion" [(ngModel)]="suggestion" name="suggestion"/>
    <input type="submit" value="Add"/>
  </form>
</div>

